
    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    * {
        box-sizing: border-box;
    }

    .footer {
        width: 100%;
        position: relative;
        left: 0;
        right: 0;
        margin: 0;
        padding: 10px 0;
    }
    .btn-success {
        transition: background-color 0.3s, border-color 0.3s;
    }

    .btn-success:hover {
        background-color: #27ae60;
        border-color: #219150;
    }

    h3 {
        font-weight: bold;
    }
    